[submodule "backEnd/microServices/item-compositor"]
	path = backEnd/microServices/item-compositor
	url = https://gitlab.com/yesodot/iron/atom/mynet/backend/microservices/item-compositor.git
[submodule "backEnd/microServices/lesson-service"]
	path = backEnd/microServices/lesson-service
	url = https://gitlab.com/yesodot/iron/atom/mynet/backend/microservices/lesson-service.git
[submodule "backEnd/microServices/media-service"]
	path = backEnd/microServices/media-service
	url = https://gitlab.com/yesodot/iron/atom/mynet/backend/microservices/media-service.git
[submodule "backEnd/microServices/news-service"]
	path = backEnd/microServices/news-service
	url = https://gitlab.com/yesodot/iron/atom/mynet/backend/microservices/news-service.git
[submodule "backEnd/microServices/user-service"]
	path = backEnd/microServices/user-service
	url = https://gitlab.com/yesodot/iron/atom/mynet/backend/microservices/user-service.git
[submodule "frontEnd/mynetapp"]
	path = frontEnd/mynetapp
	url = https://gitlab.com/yesodot/iron/atom/mynet/frontend/mynet-client.git
[submodule "frontEnd/nest-client"]
	path = frontEnd/nest-client
	url = git@gitlab.com:yesodot/iron/atom/mynet/frontend/nest-client.git
[submodule "scripts"]
	path = scripts
	url = https://gitlab.com/yesodot/iron/atom/mynet/scripts.git
