[submodule "shared"]
	path = shared
	url = https://gitlab.com/yesodot/iron/atom/mynet/backend/shared.git
[submodule "common"]
	path = common
	url = https://gitlab.com/yesodot/iron/atom/mynet/common.git
